body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    color: #FFFFFF;
}

header {
    font-size: 28px;
}

#navbar {
    width: 20%;
    min-width: 300px;
    position: sticky;
}

#main-doc {
    width: 80%;
    max-width: 1000px;
}

.main-section {
    margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
    body {
        flex-direction: column;
    }

    #main-doc {
        width: 100%;
    }

    #navbar {
        width: 100%;
        min-width: 300px;
    }
}

code {
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
}

a {
    color: inherit;
}